body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.line {
  background-color: red;
  width: 377.95275591px;
  height: 5px;
}

.dRatio {
  font-size: 20px;
  color: red;
}
